; Config::Simple 4.59
; Sun Oct  9 09:22:26 2016

[SERVER]
CRON=3
WUAPIKEY=YOURAPIKEYHERE
SENDDFC=
SENDHFC=
GETWUDATA=0
WULANG=DL
SENDUDP=0
STATIONTYP=statid
METRIC=1
COORDLAT=
UDPPORT=7000
COORDLONG=
WUURL=http://api.wunderground.com/api
STATIONID="EDDC"

[WEB]
THEME=appv4
ICONSET=light

[PLUGIN]
SCRIPTNAME=wu4lox


